<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="meesters.wifip2p.chat"
    android:versionCode="4"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="meesters.wifip2p.router.P2PConnectorService" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="meesters.wifip2p.chat.WifiP2PChat"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity android:name="meesters.wifip2p.chat.ChatByIntentingActivity" >
        </activity>
        <activity android:name="meesters.wifip2p.chat.ChatByAidlActivity" >
        </activity>
        -->
    </application>

</manifest>